.page-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr auto;
    grid-template-rows: 57px auto 48px;
    grid-template-areas:
        ". . ."
        "aside main trailing"
        ". . .";
    grid-gap: 12px;
}

.page-layout_theme_light {
    color: Black;
    background-color: White;
}

.page-layout_theme_dark {
    color: White;
    background-color: Black;
}

.page-layout__header {
    width: 100%;
    grid-column-end: span 3;
    display: flex;
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
    align-items: center;
}

.page-layout__header_theme_light {
    color: White;
    background-color: DarkCyan;
}

.page-layout__header_theme_dark {
    color: Khaki;
    background-color: SeaGreen;
}

.page-layout__navigation {
    align-self: flex-end;
    display: flex;
}

.page-layout__nav-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3px 0;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.page-layout__nav-item {
    padding-right: 10px;
}

.page-layout__filter-switch {
    visibility: hidden;
}

.page-layout__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex: none;
}

.page-layout__aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
}

.page-layout__aside_closed {
    display: none;
}

.page-layout__trailing {
    grid-area: trailing;
}

.page-layout__footer {
    width: 100%;
    grid-column-end: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-layout__footer_theme_light {
    background-color: Gainsboro;
}

.page-layout__footer_theme_dark {
    background-color: Gray;
}

.categories__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 12px;
}

.categories__item {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    margin-top: 32px;
    font-size: 16px;
}

.categories__item_theme_light {
    background-color: Gainsboro;
}

.categories__item_theme_dark {
    background-color: Gray;
}

.products__tiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 12px;
    padding-top: 12px;
}

.product-tile {
    display: flex;
    padding: 12px;
}

.product-tile_theme_light {
    background-color: Gainsboro;
}

.product-tile_theme_dark {
    background-color: Gray;
}

.product-tile__buttons {
    min-width: 76px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 4px;
}

.product-tile__button {
    margin-left: 12px;
}

.product-tile__button_theme_light {
}

.product-tile__button_theme_dark {
    color: White;
    background-color: SlateGray;
}

.product-filter {
    width: 100%;
    height: 100%;
    padding: 12px 0;
}

.product-filter_theme_light {
    background-color: Gainsboro;
}

.product-filter_theme_dark {
    background-color: Gray;
}

.product-filter__type-block {
    border: 0;
}

.product-filter__block-title {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

body, html {
    font-family: "Open Sans", "Arial", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    padding: 0 12px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    padding-left: 12px;
    padding-bottom: 0;
    margin: 14px 0 0 0;
    font-weight: bold;
    font-size: 32px;
}

h3 {
    padding-left: 12px;
    padding-top: 24px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 24px;
}

p {
    padding: 0 12px;
    margin: 0;
}

a {
    padding: 0 12px;
}

.a_theme_light {
    color: RoyalBlue;
}

.a_theme_dark {
    color: PowderBlue;
}


@media (max-width: 587px) {
    .page-layout {
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: 57px auto auto 48px;
        grid-template-areas:
        ". . ."
        "main main trailing"
        "aside aside trailing"
        ". . .";
        grid-gap: 6px;
    }

    .page-layout__trailing {
        min-width: 6px;
    }

    .page-layout__filter-switch {
        visibility: visible;
    }

    .categories__items {
        margin-left: 4px;
    }

    .products__tiles {
        margin-left: 4px;
    }

    .product-filter {
        display: flex;
        justify-content: space-between;
        margin-left: 4px;
    }

    .product-filter__type-block {
        padding: 0 24px;
    }
}

@media (max-width: 850px) {
    .page-layout {
        grid-gap: 6px;
    }

    .page-layout__nav-items {
        width: 140px;
        flex-direction: column;
        font-size: 14px;
    }

    .page-layout__trailing {
        min-width: 6px;
    }

    .categories__items {
        grid-gap: 6px;
    }

    .products__tiles {
        grid-gap: 6px;
    }

    .product-tile {
        padding: 7px;
    }

    .product-tile__buttons {
        padding-left: 0;
    }

    h1 {
        font-size: 20px;
    }
}

@media (min-width: 588px) and (max-width: 775px) {
    .products__tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 776px) and (max-width: 1024px) {
    .page-layout__trailing {
        min-width: 5vw;
        max-width: 5vw;
    }
}

@media (min-width: 1025px)  {
    .page-layout__main {
        min-width: 712px;
        max-width: 712px;
    }
}
