.products__tiles, .categories__items, .page-layout {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 12px;
}
@media (max-width: 850px) {
  .products__tiles, .categories__items, .page-layout {
    grid-gap: 6px;
  }
}

.page-layout__footer, .page-layout__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-tile__buttons, .categories__item, .page-layout__aside, .page-layout__main {
  display: flex;
  flex-direction: column;
}

a, p {
  padding: 0 12px;
}

h3, h2, h1 {
  padding: 0 12px;
  font-weight: bold;
  font-size: 24px;
}

.page-layout {
  height: 100vh;
  grid-template-columns: 240px 1fr auto;
  grid-template-rows: 57px auto 48px;
  grid-template-areas: ". . ." "aside main trailing" ". . .";
}
.page-layout_theme_light {
  color: Black;
  background-color: White;
}
.page-layout_theme_dark {
  color: White;
  background-color: Black;
}
.page-layout__header {
  grid-column-end: span 3;
}
.page-layout__header_theme_light {
  color: White;
  background-color: DarkCyan;
}
.page-layout__header_theme_dark {
  color: Khaki;
  background-color: SeaGreen;
}
.page-layout__header:hover ~ .page-layout__main .product-tile:not(:hover) {
  transition-duration: 0s;
}
.page-layout__navigation {
  align-self: flex-end;
  display: flex;
}
.page-layout__nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0 0 3px 0;
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.page-layout__nav-item {
  padding-right: 10px;
}
.page-layout__filter-switch {
  visibility: hidden;
}
.page-layout__main {
  grid-area: main;
  flex: none;
}
.page-layout__aside {
  grid-area: aside;
}
.page-layout__aside_closed {
  display: none;
}
.page-layout__trailing {
  grid-area: trailing;
}
.page-layout__footer {
  grid-column-end: span 3;
}
.page-layout__footer_theme_light {
  background-color: Gainsboro;
}
.page-layout__footer_theme_dark {
  background-color: Gray;
}
@media (max-width: 850px) {
  .page-layout__nav-items {
    width: 140px;
    flex-direction: column;
    font-size: 14px;
  }
  .page-layout__trailing {
    min-width: 6px;
  }
}
@media (max-width: 587px) {
  .page-layout {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 57px auto auto 48px;
    grid-template-areas: ". . ." "main main trailing" "aside aside trailing" ". . .";
  }
  .page-layout__main, .page-layout__aside {
    margin-left: 6px;
  }
  .page-layout__filter-switch {
    visibility: visible;
  }
  .page-layout__trailing {
    min-width: 0;
  }
}
@media (min-width: 776px) and (max-width: 1024px) {
  .page-layout__trailing {
    min-width: 5vw;
    max-width: 5vw;
  }
}
@media (min-width: 1025px) {
  .page-layout__main {
    min-width: 712px;
    max-width: 712px;
  }
}

.categories__items {
  grid-template-columns: repeat(2, 1fr);
}
.categories__item {
  padding: 12px 0;
  margin-top: 32px;
  font-size: 16px;
}
.categories__item_theme_light {
  background-color: Gainsboro;
}
.categories__item_theme_dark {
  background-color: Gray;
}

.products__tiles {
  grid-template-columns: repeat(3, 1fr);
  padding-top: 12px;
}
@media (min-width: 588px) and (max-width: 775px) {
  .products__tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-filter {
  width: 100%;
  height: 100%;
  padding: 12px 0;
}
.product-filter_theme_light {
  background-color: Gainsboro;
}
.product-filter_theme_dark {
  background-color: Gray;
}
.product-filter__type-block {
  border: 0;
}
.product-filter__block-title {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 587px) {
  .product-filter {
    display: flex;
    justify-content: space-between;
  }
  .product-filter__type-block {
    padding: 0 24px;
  }
}

#loader {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 10%;
  right: 2%;
  padding: 15.5px;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #d0d7de;
  border-radius: 32px;
  box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
  box-sizing: border-box;
  display: block;
}

.anim-rotate {
  box-sizing: content-box;
  color: #218bff;
  animation-name: rotate;
  animation-duration: 1200ms;
  animation-iteration-count: 10;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.85, 0.35, 0.13, 0.66);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
