$contentColorLight: Black;
$backgroundColorLight: White;
$nameColorLight: White;
$headerColorLight: DarkCyan;
$paneColorLight: Gainsboro;
$paneHoverColorLight: darken($paneColorLight, 20%);
$linkColorLight: RoyalBlue;

$contentColorDark: White;
$backgroundColorDark: Black;
$nameColorDark: Khaki;
$headerColorDark: SeaGreen;
$paneColorDark: Gray;
$paneHoverColorDark: lighten($paneColorDark, 20%);
$linkColorDark: PowderBlue;
$buttonColorDark: SlateGray;

$spacer: 12px;
$doubleSpacer: $spacer * 2;
$halfSpacer: ($spacer / 2);
$shortSpacer: ($spacer / 3);

$maxPhone: '(max-width: 587px)';
$minmaxPrPad: '(min-width: 588px) and (max-width: 775px)';
$maxAux: '(max-width: 850px)';
$minmaxLsPad: '(min-width: 776px) and (max-width: 1024px)';
$minDesktop: '(min-width: 1025px)';

%grid {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: $spacer;
  @media #{$maxAux} {
  grid-gap: $halfSpacer;
}
}

%flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

@mixin padded {
  padding: 0 $spacer;
}

%padded {
  @include padded();
}

%h {
  @include padded();
  font-weight: bold;
  font-size: 24px;
}
