.product-tile {
    display: flex;
    padding: 12px;
    transition-property: background-color;
}
.product-tile:hover {
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
.product-tile:not(:hover) {
    transition-duration: 1200ms;
    transition-timing-function: ease-in;
}
.product-tile_theme_light {
    background-color: Gainsboro;
}
.product-tile_theme_light:hover {
    background-color: darkgray;
}
.product-tile_theme_dark {
    background-color: Gray;
}
.product-tile_theme_dark:hover {
    background-color: #b3b3b3;
}
.product-tile__buttons {
    min-width: 76px;
    height: 60px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 4px;
}
.product-tile__button {
    margin-left: 12px;
}
.product-tile__button_theme_dark {
    color: White;
    background-color: SlateGray;
}
@media (max-width: 850px) {
    .product-tile {
        padding: 7px;
    }
    .product-tile__buttons {
        margin-left: 0;
    }
}
